<div class="container">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h5>Mitglieder & Räume</h5>
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list {{windowID == 'openRoom' ? 'active_chat' : ''}}" (click)="showWindow('openRoom')">
            <div class="chat_people">
              <div class="chat_ib">
                <h5>Chat für alle</h5>
                <p>Schreibe mit allen Mitgliedern aus der Seite.</p>
              </div>
            </div>
          </div>
          <div *ngFor="let mitglied of mitgliederList | async">
            <div class="chat_list {{windowID == mitglied.ID ? 'active_chat' : ''}}" *ngIf="mitglied.ID != (authService.user | async)?.uid" (click)="showWindow(mitglied.ID)">
              <div class="chat_people">
                <div class="chat_img"> <img src="../../../assets/img/person.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{mitglied.username}}<span class="chat_date"></span></h5>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <div *ngFor="let message of chatConversation | async">
            <div class="incoming_msg" *ngIf="message.owner != (authService.user | async)?.uid">
              <div class="incoming_msg_img"> <img src="../../../assets/img/person.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{message.message}}</p>
                  <span class="time_date"> {{message.createAt.toDate() | date:'h:mm MM.dd.yyyy'}}</span></div>
              </div>
            </div>
            <div class="outgoing_msg" *ngIf="message.owner == (authService.user | async)?.uid">
                <div class="sent_msg">
                  <p>{{message.message}}</p>
                  <span class="time_date"> {{message.createAt.toDate() | date:'h:mm MM.dd.yyyy'}}</span> </div>
              </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" [(ngModel)]="messageInput" name="messageInput" placeholder="Schreibe eine Nachricht" />
            <button class="msg_send_btn" type="button" (click)="sendMSG()"><span>></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>