<div class="login-form">
  <form>
      <h2 class="text-center">Anmelden</h2>
      <br>  
      <div class="form-group">
          <input type="email" class="form-control" placeholder="E-Mail" [(ngModel)]="email" name="email" required="required">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" placeholder="Passwort" [(ngModel)]="password" name="password" required="required">
      </div>
      <div class="form-group">
          <button type="button" class="btn btn-primary btn-block" (click)="login()">Anmelden</button>
      </div>      
  </form>
  <p class="text-center"><a href="javascript:void(0)" [routerLink]="['/register']">Registrieren</a></p>
</div>