<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      Chat
    </a>
    <span *ngIf="(authService.user | async)?.email" class="navbar-user"><a href="javascript:void(0)" (click)="logout()">Abmelden</a> </span>
</nav>
<app-alerts></app-alerts>
<router-outlet></router-outlet>