<div class="register-form">
  <form>
      <h2 class="text-center">Registrieren</h2>
      <br>
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Benutzername" [(ngModel)]="username" name="username" required="required">
      </div>
      <div class="form-group">
          <input type="email" class="form-control" placeholder="E-Mail" [(ngModel)]="email" name="email" required="required">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" placeholder="Passwort" [(ngModel)]="password" name="password" required="required">
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="register()">Registrieren</button>
      </div>      
  </form>
  <p class="text-center"><a href="javascript:void(0)" [routerLink]="['/login']">Anmelden</a></p>
</div>